:root {
    --color-white: rgb(255, 255, 255);
    --color-primary: rgb(197, 248, 42);
    --color-secondary: rgb(51, 51, 51);
    --color-secondary-dark: rgb(31, 31, 31);
    --color-dark: rgb(20, 20, 20);
}

body {
    margin: 0;
    background-color: var(--color-dark);
}

main {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.card {
    width: 300px;
    background-color: var(--color-secondary-dark);
    border-radius: 8px;
    padding: 2rem;
    font-family: 'Inter';
    text-align: center;
}

.card .card-header .img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin: 0;
}

.card .card-header .bio {
    margin: 1.5rem 0;
}

.card .card-header .bio .name {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-white);
    margin: 0;
}

.card .card-header .bio .location {
    font-size: .75rem;
    font-weight: 600;
    color: var(--color-primary);
    margin: .75rem 0 0;
}

.card .card-header .description {
    font-size: .75rem;
    font-weight: 400;
    color: var(--color-white);
    margin: 1.5rem 0;
}

.card .link-wrapper .link {
    display: block;
    min-width: max-content;
    font-size: .75rem;
    margin-top: .75rem;
    background: linear-gradient(120deg, rgb(197, 248, 42), rgb(51, 51, 51), rgba(51, 51, 51, 0.5));
    background-size: 200% 100%;
    background-position: 100% 100%;
    padding: .75rem 5rem;
    border-radius: .5rem;
    font-weight: 600;
    color: var(--color-white);
    text-decoration: none;
    transition: background-position .5s;
}

.card .link-wrapper .link:hover {
    background: linear-gradient(120deg, rgb(197, 248, 42), rgb(51, 51, 51), rgba(51, 51, 51, 0.5));
    background-position: 0 0;

}

@media screen and (max-width:375px) {
    .card {
        width: 270px;
        background-color: var(--color-secondary-dark);
        border-radius: 8px;
        padding: 2rem;
        font-family: 'Inter';
        text-align: center;
    }
}